--swift-version 6.1
--indent 4
--max-width 120
--allman false
--semicolons never
--strip-unused-args closure-only
--wrap-arguments before-first
--wrap-collections before-first
--extension-acl on-declarations
--self remove
--header strip
--type-blank-lines remove
--trailing-commas always
--trim-whitespace always
--ranges spaced
--hex-grouping none
--enable trailingClosures
--exclude .build
